services:
  app:
    build:
      context: ..
      dockerfile: /Dockerfile
    container_name: ai-assistant-service
    ports:
      - "8888:8888"
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-123456}

      # R2DBC Spring property expects r2dbc:mysql://... - the app will build the URL from DB_*.

      # Redis settings
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}

      ELASTICSEARCH_HOST: ${ELASTICSEARCH_HOST}
      ELASTICSEARCH_PORT: ${ELASTICSEARCH_PORT}
      ELASTICSEARCH_SCHEME: ${ELASTICSEARCH_SCHEME}

      OLLAMA_URL: ${OLLAMA_URL}
      AI_MODE: ${AI_MODE}
      AI_MODEL: ${AI_MODEL}
      EMBEDDING_MODEL: ${EMBEDDING_MODEL}
      ELASTICSEARCH_MOVIES_INDEX: ${ELASTICSEARCH_MOVIES_INDEX}
      ELASTICSEARCH_CHAT_HISTORY_INDEX: ${ELASTICSEARCH_CHAT_HISTORY_INDEX}
      EMBEDDING_DIMENSION: ${EMBEDDING_DIMENSION}
      EMBEDDING_FIELD: ${EMBEDDING_FIELD}

      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    restart: on-failure:3

  # Redis Stack
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"    # RedisInsight UI
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 10s
      timeout: 5s
      retries: 5

  # MySQL (r2dbc driver)
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD:-123456}"
      MYSQL_DATABASE: "${DB_NAME}"
#      MYSQL_USER: "${DB_USERNAME}"
#      MYSQL_PASSWORD: "${DB_PASSWORD}"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Elasticsearch
  elasticsearch:
     image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
     container_name: elasticsearch
     environment:
       - discovery.type=single-node
       - cluster.name=es-docker-cluster
       - xpack.security.enabled=false
       - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
     ulimits:
       memlock:
         soft: -1
         hard: -1
     ports:
       - "9200:9200"
     volumes:
       - es_data:/usr/share/elasticsearch/data
     healthcheck:
       test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q '\"status\":\"green\\|yellow' || exit 1"]
     deploy:
       resources:
         limits:
           memory: 1g

volumes:
  redis_data:
  mysql_data:
  es_data:
